<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css' ) }}" rel="stylesheet"/>
    {% block title %}
        {% if title %}
            <title>про Фласк - {{ title }}</title>
        {% else %}
            <title>Про Фласк</title>
        {% endif %}
    {% endblock title %}
</head>
<body>
    {% block content %}
        {% block mainmenu %}
            <ul>
                <li><a href="{{ url_for('index') }}">Главная</a></li>
                <li><a href="{{ url_for('addPost') }}">Добавление записи</a></li>
            </ul>
        {% endblock mainmenu %}
        {% if title %}
            <h1>{{ title }}</h1>
        {% else %}
                <h1> Про Фласк</h1>
            {% endif %}
    {% endblock content %}
</body>
</html>