{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    {% for msg in get_flashed_messages(True) %}
        <div>{{ msg }}</div>
    {% endfor %}
    <form action="/register" method="POST" class="form-contact">
        <p><label> Имя: </label> <input type="text" name="name" value="" required/>
        <p><label> E-mail: </label> <input type="text" name="email" value="" required/>
        <p><label> Пароль: </label> <input type="password" name="psw" value="" required/>
        <p><label> Повтор пароля: </label> <input type="password" name="psw2" value="" required/>
        <p><input type="submit" value="Регистрация"/>
    </form>
{% endblock %}